/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* PROCEEING TO STYLE THE FIRST SECTION  */

#container-1 {
  font-family: Open Sans, sans-serif;

  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* PROCEEDING TO STYLE THE NAVBAR */
a {
  color: rgb(0, 247, 255);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  background-color: rgb(255, 250, 250, 0.5);
}

.nav-items {
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  padding-top: 1em;
}

li {
  display: inline-block;
  margin: 0 0.7rem;
}
.brand {
  font-size: xxx-large;
  font-weight: bold;
  border-bottom: 0.2rem solid black;
  text-align: left;
  color: black;
  margin-top: 1rem;
}

/* PROCEEDING TO STYLE THE BODY  */
.body-1 {
  position: relative;
  height: 40rem;
  text-align: left;
}
.punchline {
  line-height: 1.3;
  font-weight: bold;
  font-size: xxx-large;
  width: 15rem;
  margin-top: 15rem;
}

.cta {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 12rem;
}
button {
  border: none;
}
.hire {
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  background-color: black;
  color: white;
  font-size: medium;
}
.discover {
  padding: 0.5rem 1rem;
  border: 0.05rem solid black;
  background-color: white;
  border-radius: 0.5rem;
}
.hire:hover {
  background-color: white;
  color: black;
  border: 0.05rem solid black;
  cursor: pointer;
}
.discover:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* PROCEEDING TO STYLE SECTION 2  */
#container-2 {
  font-family: Open Sans, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-1 {
  background-color: rgb(61, 61, 61);
  height: 50rem;
  padding: 2rem 1rem;
  text-align: center;
  font-family: Open Sans, sans-serif;
  color: whitesmoke;
  letter-spacing: 0.1rem;
}
h2 {
  /* font-size: large; */
  font-weight: bold;
}
.about {
  margin-bottom: 2rem;
  font-size: x-large;
}
.name {
  text-align: left;
  color: white;
}

.description {
  text-align: left;
  width: 17rem;
  line-height: 1.4;
}
.oye {
  margin-bottom: 0.5rem;
  font-size: xx-large;
}
p {
  margin-bottom: 2rem;
  font-size: medium;
}
span {
  font-weight: bold;
  font-size: medium;
}

.card-2 {
  position: relative;
  height: 30rem;
}
.image {
  background-color: white;
  border-radius: 50%;
  width: 18rem;
  height: 18rem;
  position: absolute;
  right: 1rem;
}
img {
  width: 10rem;
  position: absolute;
  bottom: 8rem;
  border: 1rem solid white;

  border-bottom: none;
  border-right: none;
  border-left: none;
}

/* PROCEEDING TO STYLE SECTION 3  */

#container-3 {
  font-family: Open Sans, sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.call {
  padding-top: 2rem;
  /* background-color: blue; */

  height: 15rem;
}
.paragraph-3 {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 2rem;
  line-height: 1.2;
}
.cta-2 {
  background-color: black;
  color: white;
  font-size: medium;
  border-radius: 0.5rem;
  padding: 1rem 2.5rem;
}

.card-3 {
  background-color: rgb(61, 61, 61);
  color: white;
  padding: 3rem 2rem;
  position: relative;
  height: 25rem;
  /* text-align: center; */
}
.tribute {
  margin-bottom: 2rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  position: relative;
}
.first-tribute {
  position: absolute;
  right: 0.5rem;
  width: 10rem;
  height: 7rem;
  text-align: left;
  border-left: 0.25rem solid white;
  padding-left: 1rem;
}
.second-tribute {
  position: absolute;
  left: 0.5rem;
  width: 10rem;
  height: 7rem;
  margin-top: 10rem;
  text-align: right;
  border-right: 0.25rem solid white;
  padding-right: 1rem;
}
.footer {
  position: absolute;
  bottom: 4rem;
  color: blue;
  text-align: center;
}
.regulatory {
  position: absolute;
  bottom: 0;
  text-align: center;
}
